h2 {
	text-align: center;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 9px;
	margin: 9px;
}

.list .item:where(:hover, :focus) img {
	filter: brightness(.7);
}

.item img {
	transition: .05s all;
	margin-bottom: -4px;
}

.list a {
	padding: 0 !important;
}

.album img {
	width: 100px;
	height: 100px;
}

.container {
	height: 100%;
	overflow-y: auto;
}

:where(.book, .movieshow, .game) img {
	width: 100px;
	height: 150px;
}

article {
	inset: calc(50% + 12px) auto auto 50%;
	transform: translate(-50%, -50%);
	width: 80ch;
	max-height: 500px;
}

.articlecontent {
	max-height: calc(500px - 53px);
	display: grid;
	grid-template-areas:
		"image data"
		"image review"
		"button button";
	align-items: center;
}

.articlecontent .review {
	grid-area: review;
	overflow: hidden auto;
	min-height: 10em;
	max-height: 20em;
	margin: 1em 1ch;
}

.articlecontent img {
	grid-area: image;
	max-width: 200px;
	margin: 5px;
	padding: 0 !important;
}

.articlecontent .data {
	grid-area: data;
	margin: 5px 1ch;
}

.data .date::before {
	content: "Date:";
	color: var(--accent);
	font-weight: bold;
}

.data .favtracks::before {
	content: "Favorite tracks:";
	color: var(--accent);
	font-weight: bold;
}

.data .faveps::before {
	content: "Favorite episodes:";
	color: var(--accent);
	font-weight: bold;
}

.articlecontent .button {
	grid-area: button;
	left: 0;
}

article:not(:target) {
	display: none;
}

article:target:not([hidden=true]) {
	display: unset;
}

.container {
	overflow: scroll;
	height: calc(600px - 50px);
}

/* Responsiveness */
@media screen and (max-width: 812px) {
	main {
		height: fit-content !important;
		flex-grow: unset !important;
	}

	main > .window {
		width: calc(100% - 18px) !important;
		margin-right: 6px !important;
		height: fit-content !important;
	}

	.container {
		height: fit-content;
	}

	article.window {
		max-width: calc(100% - 18px) !important;
		min-height: fit-content;
		max-height: calc(100% - 54px) !important;
		position: fixed !important;
		margin-top: 6px;
	}

	.articlecontent {
		grid-template-areas:
			"data"
			"image"
			"review"
			"button"
		!important;
		grid-template-rows: auto auto 1fr auto;
		gap: 9px;
		overflow: hidden;
		max-height: 100%;
		justify-items: center;
	}

	.review {
		height: 100%;
		min-height: unset !important;
	}

	.data {
		width: calc(100% - 12px);
	}
}
