pre,
code,
kbd {
	font-family:				inherit;
	margin:					auto;
}

pre,
p :where(code, kbd) {
	border:					1px solid var(--dpurple);
	border-radius:				3px;
	width:					fit-content;
	max-width:				calc(100% - 2em);
	overflow:				scroll;
}

pre {
	padding:				1em;
}

p where(code, kbd) {
	padding:				0 .5ch;
}

article img {
	margin:					auto;
	display:				block;
	border:					1px solid var(--dpurple);
	border-radius:				3px;
	max-width:				100%;
}
