/* Theme */
:root, :root.dark {--bg0h:#1d2021;--bg0t:rgba(40,40,40,.95);--bg0:#282828;--bg0s:#32302f;--bg1:#3c3836;--bg2:#504945;--bg3:#665c54;--bg4:#7c6f64;--gray:#928374;--fg0:#fbf1c7;--fg1:#ebdbb2;--fg2:#d5c4a1;--fg3:#bdae93;--fg4:#a89984;--red:#fb4934;--green:#b8bb26;--yellow:#fabd2f;--blue:#83a598;--purple:#d3869b;--aqua:#8ec07c;--orange:#fe8019;--dred:#cc241d;--dgreen:#98971a;--dyellow:#d79921;--dblue:#458588;--dpurple:#b16286;--daqua:#689d6a;--dorange:#d65d0e;}

/* Font */
@font-face {
	font-family: 'Fantasque';
	src: url('../font/fantasque.woff') format('woff');
}

/* Rules */
	html {
		align-items:			center;
		font:				14px fantasque, monospace;
		color:				var(--fg1);
		display:			flex;
	}

	body {
		background-color:		var(--bg0h);
		display:			grid;
		background-image:		url(../img/wall.png);
		background-size:		cover;
		background-attachment:		fixed;
		margin:				auto;
	}

	footer {
		width:				30%;
		text-align:			center;
		padding-top:			1em !important;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align:			center;
	}

	p {
		text-align:			justify;
	}

	a {
		text-decoration:		none;
		color:				var(--aqua);
	}

		a:hover {
			color:			var(--bg0);
			background-color:	var(--aqua);
			transition:		0.25s all;
			border-radius:		2px;
		}

		a.button {
			color:			unset;
			background-color:	var(--bg0t);
		}

			a.button:active {
				background-color:var(--blue);
				color:		var(--bg0);
			}

	nav {
		margin:				2em auto;
	}

	main {
		display: 			grid;
		margin:				1em auto;
		width:				fit-content;
		grid-template-columns:		auto auto;
		grid-row-gap:			2em;
	}

	.window {
		position:			relative;
		background-color:		var(--bg0t);
		backdrop-filter:		blur(2px);
		padding:			2em 1ch 1em;
		border:				2px solid var(--purple);
		margin:				1em auto;
		box-shadow:			1ch 1em var(--dpurple);
		max-width:			75%;
		height:				fit-content;
		border-radius:			3px;
	}

		.window.button {
			margin:			1em 1ch;
			padding:		1em 1ch;
		}

		.window.button:hover {
			position:		relative;
			top:			1em;
			left:			1ch;
			box-shadow:		none;
			border-color:		var(--blue);
			transition:		none;
		}


		main>.window {
			margin:			auto;
		}

	.titlebar {
		position:			absolute;
		top:				-2px;
		left:				0;
		background-color:		var(--purple);
		color:				var(--bg0);
		width:				100%;
		text-align:			left;
	}

		.titlebar::after {
			content:		"X";
			position:		absolute;
			right:			1ch;
			background-color:	var(--dred);
			width:			3ch;
			text-align:		center;
			color:			var(--fg0);
		}

	img.roly {
		border:				1px solid var(--purple);
		color:				unset;
		background-color:		unset;
		image-rendering:		pixelated;
	}

	.maximize {
		background-color:		var(--aqua);
		width:				3ch;
		text-align:			center;
		color:				var(--bg0);
		line-height:			1.2;
		height:				15px;
		position:			absolute;
		top:				-2px;
		right:				5ch;
	}

	#intro {
		display:			flex;
		width:				60ch;
	}

		#intro p {
			margin:			auto;
		}

	#ascii {
		width:				30ch;
	}

		#ascii pre {
			text-align:		left;
			margin:			0;
		}
	
	#microblog {
		width:				40ch;
		height:				9em;
		padding:			1em 1ch 0;
	}

		#microblog embed {
			overflow:		scroll;
			width:			100%;
			height:			100%;

			margin:			0;
		}

	#buttons {
		width:				22ch;
	}

		#buttons p {
			text-align:		center;
			margin:			0;
		}
