/* Theme */
:root, :root.dark {--bg0h:#1d2021;--bg0t:rgba(40,40,40,.95);--bg0:#282828;--bg0s:#32302f;--bg1:#3c3836;--bg2:#504945;--bg3:#665c54;--bg4:#7c6f64;--gray:#928374;--fg0:#fbf1c7;--fg1:#ebdbb2;--fg2:#d5c4a1;--fg3:#bdae93;--fg4:#a89984;--red:#fb4934;--green:#b8bb26;--yellow:#fabd2f;--blue:#83a598;--purple:#d3869b;--aqua:#8ec07c;--orange:#fe8019;--dred:#cc241d;--dgreen:#98971a;--dyellow:#d79921;--dblue:#458588;--dpurple:#b16286;--daqua:#689d6a;--dorange:#d65d0e;}

/* Font */
@font-face {
	font-family: 'Fantasque';
	src: url('../font/fantasque.woff') format('woff');
}

/* Rules */
	html {
		font:				14px fantasque, monospace;
		color:				var(--fg1);
	}

	body {
		background-color:		var(--bg0h);
		display:			grid;
		background-image:		url(../img/wall.png);
		background-size:		cover;
		background-attachment:		fixed;
		margin:				2em auto 1em;
		max-width:			800px;
	}

	footer {
		width:				30%;
		text-align:			center;
		margin:				1em auto;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align:			center;
	}

	a {
		text-decoration:		none;
		color:				var(--aqua);
	}

		a:hover {
			color:			var(--bg0);
			background-color:	var(--aqua);
			transition:		0.25s color background-color;
			border-radius:		2px;
		}

	nav {
		margin:				calc(2em + 2px) auto !important;
		display:			flex;
		flex-wrap:			wrap;
		max-width:			80%;
		image-rendering:		pixelated;
		height:				84px;
		align-items:			center;
	}

		nav a {
			width:			64px;
			text-align:		center;
			color:			var(--fg1);
			margin:			auto;
		}

			nav a img {
				width:	32px;
				transition:		ease-out 0.2s width;
			}

			nav a:hover {
				background-color:unset;
				color:		var(--aqua);
			}

			nav a:hover img {
				width:		64px;
				filter:		brightness(0) saturate(100%) invert(74%) sepia(17%) saturate(746%) hue-rotate(59deg) brightness(93%) contrast(91%);
			}

	main {
		display: 			grid;
		margin:				1em auto;
		width:				80%;
		grid-template-columns:		auto auto;
	}

		main.index,
		main.links {
			grid-template-columns:	auto auto;
			grid-row-gap:		calc(3em + 4px);
		}

		main.blog,
		main.about {
			grid-template-columns:	auto;
			grid-row-gap:		calc(1em + 4px);
		}

	.window {
		position:			relative;
		background-color:		var(--bg0t);
		backdrop-filter:		blur(2px);
		-webkit-backdrop-filter:	blur(2px);
		padding:			1em 1ch;
		margin:				1em auto;
		border:				2px solid var(--purple);
		box-shadow:			1ch 1em var(--dpurple);
		border-radius:			3px;
	}

		main.index .window {
			margin:			auto;
		}

	.titlebar {
		position:			absolute;
		top:				calc(-2ch - 4px);
		left:				-2px;
		background-color:		var(--purple);
		color:				var(--bg0);
		width:				100%;
		text-align:			left;
		border:				2px solid var(--purple);
		border-radius:			3px 3px 0 0;
	}

		.titlebar::after {
			content:		"X";
			position:		absolute;
			right:			0;
			background-color:	var(--dred);
			width:			3ch;
			text-align:		center;
			color:			var(--fg0);
			border-radius:		2px;
		}

	img.roly {
		border:				1px solid var(--purple);
		color:				unset;
		background-color:		unset;
		image-rendering:		pixelated;
	}

	.maximize {
		background-color:		var(--aqua);
		width:				3ch;
		text-align:			center;
		color:				var(--bg0);
		line-height:			1.2;
		height:				15px;
		position:			absolute;
		top:				calc(-1em - 2px);
		right:				calc(3ch + 2px);
		border-radius:			2px;
	}

	#intro {
		display:			flex;
		max-width:			50ch;
	}

		#intro p {
			margin:			auto;
		}

	#ascii {
		max-width:			30ch;
	}

		#ascii pre {
			text-align:		left;
			margin:			0;
		}
	
	#microblog {
		max-width:			40ch;
		height:				9em;
		padding:			0 1ch;
	}

		#microblog embed {
			overflow:		scroll;
			width:			100%;
			height:			100%;
			margin:			0;
		}

	#buttons {
		width:				22ch;
	}

		#buttons p {
			text-align:		center;
			margin:			0;
		}

	#stampcollection {
		max-width:			440px;
		display:			flex;
		flex-wrap:			wrap;
		justify-content:		center;
	}

		#stampcollection img {
			margin:			2px;
		}
