/* Theme */
:root {--bg0h:#1d2021;--bg0:#282828;--bg0s:#32302f;--bg1:#3c3836;--bg2:#504945;--bg3:#665c54;--bg4:#7c6f64;--gray:#928374;--fg0:#fbf1c7;--fg1:#ebdbb2;--fg2:#d5c4a1;--fg3:#bdae93;--fg4:#a89984;--red:#fb4934;--green:#b8bb26;--yellow:#fabd2f;--blue:#83a598;--purple:#d3869b;--aqua:#8ec07c;--orange:#fe8019;--dred:#cc241d;--dgreen:#98971a;--dyellow:#d79921;--dblue:#458588;--dpurple:#b16286;--daqua:#689d6a;--dorange:#d65d0e;}

/* Font */
@font-face {
	font-family: 'Fantasque';
	src: url('../font/fantasque.woff') format('woff');
}

/* Rules */
	html {
		font:				14px fantasque, monospace;
		color:				var(--fg1);
	}

	body {
		background-color:		var(--bg0);
		display:			flex;
		flex-direction:			column;
		background-image:		url(../img/ditherbg.png);
		background-attachment:		fixed;
		margin:				0 auto 1em;
		max-width:			800px;
	}

	footer.window {
		width:				30%;
		text-align:			center;
		margin:				1em auto;
		box-shadow:			1ch 1em var(--dpurple);
		padding:			0.5em 0;
		overflow:			hidden;
	}

		footer.window span {
			padding:		0 1ch;
		}

		footer img {
			color:			unset;
			background-color:	unset;
			image-rendering:	pixelated;
			width: 			88px;
			height: 		31px;
		}

		footer .marquee img:hover {
			width:			calc(88px * 2);
			height:			calc(31px * 2);
		}

	hgroup, h1, h2, h3, h4, h5, h6 {
		text-align:			center;
	}

		hgroup :where(h1, h2, h3, h4, h5, h6) {
			margin-bottom:		0;
		}

	a {
		text-decoration:		underline dashed;
		color:				var(--purple);
	}

		:where(p, li) a:where(:hover, :focus)
		 {
			color:			var(--bg0);
			background-color:	var(--purple);
			transition:		ease-in-out 0.25s all;
			-webkit-transition:	ease-in-out 0.25s all;
			border-radius:		2px;
		}

	nav {
		margin:				1em auto !important;
		display:			flex;
		flex-wrap:			wrap;
		max-width:			80%;
		image-rendering:		pixelated;
		align-items:			center;
	}

		nav a {
			width:			64px;
			text-align:		center;
			color:			var(--fg1);
			margin:			auto;
			transition:		ease-in-out 0.15s width;
			-webkit-transition:	ease-in-out 0.15s width;
			text-decoration:	none;
			height:			82px;
		}

			nav a img {
				width:	32px;
				transition:	ease-out 0.2s width,
						ease-out 0.2s margin;
				-webkit-transition:ease-out 0.2s width,
						ease-out 0.2s margin;
				margin-top:	1em;
			}

			nav a:where(:hover, :focus) {
				background-color:unset;
				color:		var(--purple);
			}

			nav a:where(:hover, :focus) img {
				width:		64px;
				filter:		brightness(0) saturate(100%) invert(82%) sepia(4%) saturate(7152%) hue-rotate(297deg) brightness(93%) contrast(75%);
				margin: 	0;
			}

	main {
		margin:				1em auto;
		width:				80%;
	}

		main.twocol {
			display:		grid;
			grid-template-columns:	auto auto;
			grid-row-gap:		calc(2em + 2px);
		}

		main.onecol {
			display:		grid;
			grid-template-columns:	auto;
			margin:			auto;
		}

	.window {
		position:			relative;
		background-color:		var(--bg0);
		padding:			2em 1ch 1em;
		margin:				1em auto;
		border:				1px solid var(--purple);
		box-shadow:			1ch calc(1em + 2px) var(--dpurple),
						inset 0 calc(1em + 2px) var(--purple);
		border-radius:			3px;
		max-width:			calc(80ch + 2ch); /* in accordance to WCAG 2.0 1.4.8 */
	}

		main.twocol .window {
			margin:			auto;
		}

	.titlebar {
		position:			absolute;
		top:				0;
		left:				0;
		color:				var(--bg0);
		display:			flex;
		gap:				1px;
		width:				100%;
	}

		.titlebar span:first-child {
			flex:			1;
		}

		.titlebar .maximize {
			background-color:	var(--bg0);
			width:			3ch;
			text-align:		center;
			color:			var(--fg1);
			line-height:		1.2;
			height:			15px;
			border-radius:		2px;
			text-decoration:	none;
		}

		.titlebar .close {
			background-color:	var(--bg0);
			width:			3ch;
			text-align:		center;
			color:			var(--fg0);
			border-radius:		2px;
		}

	#intro {
		display:			flex;
		max-width:			50ch;
	}

		#intro p {
			margin:			auto;
		}

	#ascii {
		max-width:			30ch;
	}

		#ascii pre {
			text-align:		left;
			margin:			0;
			font:			inherit;
		}
	
	#microblog {
		max-width:			40ch;
		height:				9em;
		padding:			calc(1em + 2px) 1ch 0;
	}

		#microblog embed {
			overflow:		scroll;
			width:			100%;
			height:			100%;
			margin:			0;
		}

	#buttons {
		width:				22ch;
	}

		#buttons p {
			text-align:		center;
			margin:			0;
		}

	#stampcollection {
		max-width:			440px;
		display:			flex;
		flex-wrap:			wrap;
		justify-content:		center;
	}

		#stampcollection img {
			margin:			2px;
		}
	
	::selection {
		background-color:		var(--dpurple);
		color:				var(--bg0);
	}

	.skipnav {
		position:			absolute;
		top:				calc(-5em - 3px);
		z-index:			100;
		transition:			ease-out 0.3s top;
		-webkit-transition:		ease-out 0.3s top;
		padding:			1em 1ch;
		box-shadow:			1ch 1em var(--dred);
		border:				1px solid var(--red);
	}

		.skipnav:focus {
			top:			0px;
		}

	.marquee {
		display: 			flex;
		gap:				1px;
		width:				max-content;
		animation:			marquee 10s linear infinite alternate;
		height:				31px;
	}
	
		.marquee:hover {
			animation-play-state:	paused;
		}

		@keyframes marquee {
			0%{transform: translateX(0%);}
			100%{transform: translateX(-100%);}
		}
	
/* Responsive */
	@media screen and (max-width: 799px) {
		body {
			width:			calc(100% - 4ch);
		}

		main,
		main.onecol,
		main.twocol {
			grid-template-columns: 	auto;
			width:			100%;
		}

		footer {
			width:			unset;
		}
	}

/* Accessibility */
	@media screen and (prefers-reduced-motion) {
		* {
			transition:		none !important;
			-webkit-transition:	none !important;
			animation:		none !important;
		}
	}
