/* Index */
#blogarticles {
	width: 70ch;
	height: 20em;
	inset: 15px 0 0 50%;
	transform: translateX(-50%);
}

#bleatsnewsletter {
	width: 30ch;
	height: 10em;
	inset: auto 20px 25px auto;
}

#RSS {
	inset: auto auto 10px 0;
}

/* Articles */
.writingcontainer {
	width: 70ch;
	height: calc(600px - 53px);
	inset: 0 auto auto 50%;
	transform: translateX(-50%);
}

.writingcontainer .content {
	height: calc(100% - 3px);
}

.writingcontainer .content img {
	max-width: 100%;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/* Responsiveness */
@media screen and (max-width: 812px) {
	#blogarticles,
	#bleatsnewsletter {
		width: 100%;
		height: unset;
	}

	main,
	.writingcontainer,
	.writingcontainer .content {
		height: fit-content !important;
	}
}
