<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta property="og:image" content="[#path#]scrot.png">
		<link rel="apple-touch-icon" sizes="180x180" href="https://lensdeer.neocities.org/globals/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="https://lensdeer.neocities.org/globals/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="https://lensdeer.neocities.org/globals/favicon/favicon-16x16.png">
		<link rel="icon" type="image/x-icon" href="https://lensdeer.neocities.org/globals/favicon/favicon.ico">
		<meta property="twitter:card" content="summary_large_image">
		<link href="https://lensdeer.neocities.org/globals/doe.css" rel="stylesheet" type="text/css" media="all">
		[pagetype=writing] <link href="https://lensdeer.neocities.org/writing/writing.css" rel="stylesheet" type="text/css" media="all"> [/pagetype=]
		<title>LensDeer's Hideout | [#title#]</title>
	</head>

	<body>
		<a class="skipnav window red thin border" href="#main">
			Skip to content
		</a>

		<div class="DOE window pink border">
			<span class="titlebar">BLEAT | DOE - Digital Organization Environment</span>
			<nav>
				<a class="border gray thin" href="https://lensdeer.neocities.org/home/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/doe.png">
					<span> Home </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.tumblr.com">
					<img src="https://lensdeer.neocities.org/globals/icons/tumblr.png">
					<span> Tumblr </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.tumblr.com/tagged/lensdeerart">
					<img src="https://lensdeer.neocities.org/globals/icons/art.png">
					<span> Art </span>
				</a>
				<a class="border gray thin" href="https://github.com/marshdeer">
					<img src="https://lensdeer.neocities.org/globals/icons/git.png">
					<span> Code </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/writing/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/blog.png">
					<span> Writing </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/demos/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/demos.png">
					<span> Demos </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/hiscore/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/hiscore.png">
					<span> Scores </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/zach/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/exa.png">
					<span> Zachlike </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/ocs/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/ocs.png">
					<span> OCs </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.neocities.org/medialog/index.html">
					<img src="https://lensdeer.neocities.org/globals/icons/media.png">
					<span> Medialog </span>
				</a>
			</nav>
			<time id="clock">88:88</time>

			[path!=medialog/index.html] <main id="main"> [/path!=]
				[pagetype=demo] <div class="window pink border" style="width: 640px; height: 480px; top: 20px; right: 0px;"> [/pagetype=]
				[pagetype=writing] <div class="window pink border" style="width: 70ch; height: calc(600px - 53px); left: 50%; top: 0; transform: translateX(-50%);"> [/pagetype=]
					[pagetype=demo] <span class="titlebar"> [#windowtitle#] </span> [/pagetype=]
					[pagetype=writing] <span class="titlebar"> [#windowtitle#] </span> [/pagetype=]
					[pagetype=writing] <div class="content"> [/pagetype=]
						[#content#]
						[pagetype=writing] <a class="red button" style="margin: auto 0;" href="https://lensdeer.neocities.org/writing/index.html">Back</a> [/pagetype=]
						[pagetype=demo] <a href="https://lensdeer.neocities.org/demos/index.html" class="red button" style="position: absolute; bottom: 4px; left: 4px; z-index: 9;">Back</a> [/pagetype=]
			[path!=medialog/index.html] </main> [/path!=]
		</div>

		<script src="https://lensdeer.neocities.org/globals/clock.js"></script>
	</body>
</html>
