<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LensDeer's Hideout | [#title#]</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		[pagetype=404]<base href="https://lensdeer.neocities.org" target="_self">[/pagetype=]
		<!-- Embed -->
			<meta property="og:image" content="[#path#]scrot.png">
			<link rel="apple-touch-icon" sizes="180x180" href="[pagetype!=404][#root#][/pagetype!=]globals/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="[pagetype!=404][#root#][/pagetype!=]globals/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="[pagetype!=404][#root#][/pagetype!=]globals/favicon/favicon-16x16.png">
			<link rel="icon" type="image/x-icon" href="[pagetype!=404][#root#][/pagetype!=]globals/favicon/favicon.ico">
			<meta property="twitter:card" content="summary_large_image">
		<!-- Stylesheets -->
			[path=home/index.html] <link href="[#root#]home/home.css" rel="stylesheet" type="text/css" media="all"> [/path=]
			[pagetype=menu] <link href="[#root#]globals/menu.css" rel="stylesheet" type="text/css" media="all"> [/pagetype=]
			[pagetype=writing] <link href="[#root#]writing/writing.css" rel="stylesheet" type="text/css" media="all"> [/pagetype=]
			[path=medialog/index.html] <link href="[#root#]medialog/medialog.css" rel="stylesheet" type="text/css" media="all"> [/path=]
			[pagetype=demo] <link href="[#root#]demos/demos.css" rel="stylesheet" type="text/css" media="all"> [/pagetype=]
			[pagetype=404] <link href="https://lensdeer.neocities.org/globals/doe.css" rel="stylesheet" type="text/css" media="all"> [/pagetype=]
			[pagetype!=404] <link href="[#root#]globals/doe.css" rel="stylesheet" type="text/css" media="all"> [/pagetype!=]
	</head>

	<body>
		<a class="skipnav window red thin border" href="#main">
			Skip to content
		</a>

		<div class="DOE window pink border">
			<span class="titlebar">BLEAT | DOE - Digital Organization Environment</span>
			<div class="content">
				<nav>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]home/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]/globals/icons/doe.png" aria-hidden="true" alt="">
						<span> Home </span>
					</a>
					<a class="border gray thin" href="https://lensdeer.tumblr.com">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/tumblr.png" aria-hidden="true" alt="">
						<span> Tumblr </span>
					</a>
					<a class="border gray thin" href="https://lensdeer.tumblr.com/tagged/lensdeerart">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/art.png" aria-hidden="true" alt="">
						<span> Art </span>
					</a>
					<a class="border gray thin" href="https://github.com/marshdeer">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/git.png" aria-hidden="true" alt="">
						<span> Code </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]writing/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/blog.png" aria-hidden="true" alt="">
						<span> Writing </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]demos/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/demos.png" aria-hidden="true" alt="">
						<span> Demos </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]hiscore/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/hiscore.png" aria-hidden="true" alt="">
						<span> Scores </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]zach/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/exa.png" aria-hidden="true" alt="">
						<span> Zachlike </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]ocs/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/ocs.png" aria-hidden="true" alt="">
						<span> OCs </span>
					</a>
					<a class="border gray thin" href="[pagetype!=404][#root#][/pagetype!=]medialog/index.html">
						<img src="[pagetype!=404][#root#][/pagetype!=]globals/icons/media.png" aria-hidden="true" alt="">
						<span> Medialog </span>
					</a>
				</nav>
				<time id="clock">88:88</time>

				[path!=medialog/index.html] <main id="main"> [/path!=]
					[pagetype=demo] <div class="democontainer window pink border"><span class="titlebar">[#title#]</span>[/pagetype=]
					[pagetype=writing] <div class="writingcontainer window pink border"><span class="titlebar">[#title#]</span><div class="content"> [/pagetype=]
					[pagetype=menu] <div class="menu window pink border"><span class="titlebar">[#title#]</span><div class="content" style="--size: [#size#]">[/pagetype=]
						[#content#]
						[pagetype=writing] <a class="red button" style="margin: auto 0;" href="[#root#]writing/index.html">Back</a> [/pagetype=]
						[pagetype=demo] <a href="[#root#]demos/index.html" class="red button" style="position: absolute; bottom: 4px; left: 4px; z-index: 9;">Back</a> [/pagetype=]
				[path!=medialog/index.html] </main> [/path!=]
			</div>
		</div>

		<script src="[pagetype!=404][#root#][/pagetype!=]globals/clock.js"></script>
	</body>
</html>
