<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta property="og:image" content="[#path#]scrot.png">
		<link rel="apple-touch-icon" sizes="180x180" href="[#root#]globals/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="[#root#]globals/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="[#root#]globals/favicon/favicon-16x16.png">
		<link rel="icon" type="image/x-icon" href="[#root#]globals/favicon/favicon.ico">
		<meta property="twitter:card" content="summary_large_image">
		<link href="[#root#]globals/doe.css" rel="stylesheet" type="text/css" media="all">
		<title>LensDeer's Hideout | [#title#]</title>
	</head>

	<body>
		<a class="skipnav window red thin border" href="#main">
			Skip to content
		</a>

		<div class="DOE window pink border">
			<span class="titlebar">BLEAT | DOE - Digital Organization Environment</span>
			<nav>
				<a class="border gray thin" href="[#root#]home/index.html">
					<img src="[#root#]globals/icons/doe.png">
					<span> Home </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.tumblr.com">
					<img src="[#root#]globals/icons/tumblr.png">
					<span> Tumblr </span>
				</a>
				<a class="border gray thin" href="https://lensdeer.tumblr.com/tagged/lensdeerart">
					<img src="[#root#]globals/icons/art.png">
					<span> Art </span>
				</a>
				<a class="border gray thin" href="https://github.com/marshdeer">
					<img src="[#root#]globals/icons/git.png">
					<span> Code </span>
				</a>
				<a class="border gray thin" href="[#root#]writing/index.html">
					<img src="[#root#]globals/icons/blog.png">
					<span> Writing </span>
				</a>
				<a class="border gray thin" href="[#root#]demos/index.html">
					<img src="[#root#]globals/icons/demos.png">
					<span> Demos </span>
				</a>
				<a class="border gray thin" href="[#root#]hiscore/index.html">
					<img src="[#root#]globals/icons/hiscore.png">
					<span> Scores </span>
				</a>
				<a class="border gray thin" href="[#root#]zach/index.html">
					<img src="[#root#]globals/icons/exa.png">
					<span> Solutions </span>
				</a>
				<a class="border gray thin" href="[#root#]ocs/index.html">
					<img src="[#root#]globals/icons/ocs.png">
					<span> OCs </span>
				</a>
				<a class="border gray thin" href="[#root#]medialog/index.html">
					<img src="[#root#]globals/icons/media.png">
					<span> Media </span>
				</a>
			</nav>
			<time id="clock">88:88</time>

			<main id="main">
				<div class="window pink border" style="width: 640px; height: 480px; top: 20px; right: 0px;">
					<span class="titlebar">[#windowtitle#]</span>
					<a href="[#root#]demos/index.html" class="red button" style="position: absolute; bottom: 4px; left: 4px; z-index: 9;">Back</a>
					[#content#]
			</main>
		</div>

		<script src="../globals/clock.js"></script>
	</body>
</html>
