/* ~~ General ~~ */
	#cableoverlay {
		position: fixed;
		z-index: 2;
		pointer-events: none;
		filter: drop-shadow(0 2px 5px);
	}

	body {
		width: 100vw;
		height: 100vh;
		margin: 0;
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		background-color: #476;
		background-image:
			linear-gradient(45deg, #365 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, #365 75%),
			linear-gradient(45deg, transparent 75%, #365 75%),
			linear-gradient(45deg, #365 25%, transparent 25%);
		background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px;
		background-position: 0 0, 0 0, -50px -50px, 50px 50px;
	}

	.vignette {
		z-index: 3;
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-shadow: inset 0 0 75px black;
		pointer-events: none;
	}

	.navlinks {
		display: flex;
		position: fixed;
		right: 50px;
		top: -25px;
		width: fit-content;
		font: 20px monospace;
		height: 25px;
		background: #99a;
		box-shadow:
			0 -2px 0 2px #99a,
			0 -2px 0 3px #667,
			0 0 0 2px #233,
			-5px 5px 10px #0009;
		text-align: center;
		z-index: 4;
		border-bottom: 5px solid #99a;
		transition: all .5s;
		gap: .5ch;
	}
		.navlinks:where(:focus, :hover) {top: 0;}

	.navlinks span,
	.navlinks a {
		box-shadow:
			inset 0 0 2px #000a;
		background: linear-gradient(#334, #112);
		padding: 0 .5ch;
		color: white;
	}


/* ~~ Cables ~~ */
	.jack {
		width: 8px;
		height: 8px;
		border-radius: 6px;
		border: 2px solid var(--color);
		background: black;
		box-shadow:
			1px -1px 0 var(--shine),
			0 0 0 1px black,
			-2px 2px 0 1px #0009,
			inset 1px -1px 0 var(--shine);
		position: relative;
		margin: auto 10px auto 5px;
	}
		.jack.output {--color: #a00; --shine: #f55;}
		.jack.input {--color: #333; --shine: #777; left: 4px; top: -12px;}
		.connected .jack {--color: #c65400; --shine: #ffdaa0;}

	.arrow {
		position: absolute;
		border: 4px solid;
		border-color: transparent transparent transparent white;
		height: 0px;
		width: 0px;
		left: var(--offset);
	}
		.output .arrow {--offset: 15px;}
		.input .arrow {--offset: -12px;}

	.led {
		position: absolute;
		height: 5px;
		width: 5px;
		top: -10px;
		left: 2px;
		background: #313a39;
		box-shadow: inset -1px 1px 0 #0c1a19;
	}
		.connected .led {background: #c6e261; box-shadow: 0 0 1px #ce6a;}

/* ~~ Navigation ~~ */
	nav {
		height: calc(100% - 10px);
		overflow: scroll;
		display: flex;
		flex-direction: column;
		background: #677;
		padding: 5px 2px;
		box-shadow:
			1px 0 0 #000202,
			2px 0 0 #393b43,
			20px 0 0 #4b545a,
			21px 0 0 #656b71,
			inset -2px 2px 2px #899;
		gap: 5px;
		width: fit-content;
		position: relative;
		filter: drop-shadow(0 0 10px);
	}

	nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		padding: 5px;
		background: #888;
		border-radius: 3px;
		box-shadow:
			-2px 2px 0 #0005,
			inset 2px -2px 2px #666,
			inset -2px 2px 2px #aaa;
		width: fit-content;
	}

	nav a:where(:hover, :focus, :active) {
		background: #aaa;
		box-shadow:
			inset 2px -2px 2px #999,
			inset -2px 2px 2px #ccc;
	}

	nav a img {
		border-radius: 3px;
		box-shadow: -2px 2px 0 #0009;
	}

/* Main View */
	main {
		border-image-slice: 41 57 25 33;
		border-image-width: 41px 57px 25px 33px;
		border-image-outset: 27px 55px 18px 31px;
		border-image-repeat: repeat repeat;
		border-image-source: url("img/device.png");
		border-style: solid;
		filter: drop-shadow(-5px 5px 10px black);
		width: fit-content;
		margin: auto 10px;
		aspect-ratio: 1011/593;
		background: url(img/empty.png); background-size: 100% 100%;
	}

	.glare {
		width: 100%;
		height: 100%;
		background: linear-gradient(225deg, #fff2, transparent);
		position: absolute;
		z-index: 3;
		pointer-events: none;
	}
		main .glare {height: calc(100% - 12px);}
		nav .glare {top: -5px;}

	main,
	main img {
		width: 1011px;
		max-width: 1011px;
		max-height: 593px;
		aspect-ratio: 1011/593;
	}
		main img:target {display: unset;}
		main img:not(:target) {display: none;}

/* Responsive */
	@media screen and (max-width: 1360px) {
		main {
			width: fit-content;
			height: fit-content;
		}
		main,
		main img {
			width: calc(100vw - 325px);
			height: unset;
		}
		nav a img {width:75%;}
		nav a {width: calc(226px * 0.75);}
	}

	@media screen and (max-width: 800px) {
		body {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			height: 100vh;
		}

		nav {
			flex-direction: row;
			height: fit-content;
			width: 100vw;
			padding: 2px 5px;
			box-shadow:
				0 1px 0 #656b71,
				0 2px 0 #4b545a,
				0 20px 0 #393b43,
				0 21px 0 #000202,
				inset -2px 2px 2px #899;
		}

		nav a {
			flex-direction: column;
			width: fit-content;
		}

		nav a img {
			width: unset;
		}

		.jack.output {
			margin: 15px auto auto;
		}

		main {
			margin: auto 0 auto -25px;
			width: calc(100% - 100px);
		}

		main img {
			width: 100%;
		}

		.navlinks {
			top: unset;
			right:unset;
			bottom: -25px;
			font-size: 15px;
			box-shadow:
				0 2px 0 2px #99a,
				0 2px 0 3px #667,
				0 0 0 2px #233,
				5px 5px 10px #0009;
			border-bottom: unset;
			border-top: 5px solid #99a;
		}
			.navlinks:where(:focus, :hover, :active){top: unset; bottom:0}
			.smallscreenwarning {display: inline !important;}
	}
