/* Font fix */
	@font-face {
		font-family: 'Fantasque';
		src: url('https://static.tumblr.com/kxnrdjs/FQksg2pr8/fantasquesansmono-regular.ttf') format('woff');
	}

/* Windows Layout */
	#tumblrinfobox.window .content {
		display: grid;
		grid-template-areas:
			"pic title"
			"pic description"
			"pic buttons";
		grid-template-columns: 128px 1fr;
		grid-template-rows: auto auto auto;
		gap: 6px;
		text-align: center;
		justify-items: center;
	}

		#tumblrinfobox.window .content .buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			grid-area: buttons;
			width: 100%;
		}

		#tumblrinfobox.window .content .title {
			font-size: bigger;
			color: var(--accent);
			margin: 0 auto;
		}

		#tumblrinfobox.window .content .description {
			margin: 0 auto;
		}

	#projects.window {
		width: fit-content;
		right: 23px;
		top: 30px;
	}

	#search.window {
		bottom: 180px;
		right: 40px;
		width: 350px;
	}

		#search.window .content {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 6px;
		}

		#search.window input[type=submit] {
			border: none;
		}

		#search.window input[type=text] {
			background: none;
			color: var(--fg1);
			padding: 3px;
			box-shadow: /* TODO: why the fuck is the border Like That */
				-1px -1px 0 1px var(--dteal),
				0 0 0 1px var(--fg1);
			width: calc(100% - 10px);
			height: 1em;
		}

			#search.window input[type=text]:focus {
				outline: none !important;
				background: var(--bg2) !important;
			}

	#error.window {
		text-align: center;
	}

/* Window layering on mouseover */
	.window:not(main) {
		z-index: -1;
		transition: .2s all
	}

		.window:not(main):where(:hover, :has(:focus)) {
			z-index: 2 !important;
		}

/* Post Styling */
	main .content {
		display: grid;
		grid-template-rows: 1fr auto;
		height: 100%;
		padding: 0;
		overflow-y: scroll;
	}

	#posts {
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: calc(500px + 24px);
		height: 100%;
		padding: 3px 0;
	}

	#post-pagination {
		width: 518px;
		padding: 0;
		margin: 6px 3px;
	}

		#post-pagination .notes {
			padding-right: 3px;
		}

		#post-pagination li {
			padding: 0.25em 0;
		}

			#post-pagination li:nth-child(2n) {
				background: var(--bg1);
			}

			#post-pagionation li .avatar_frame {
				margin-right: 1ch;
			}

	#pagination {
		width: 100%;
		margin-top: 3px;
		position: relative;
	}

		#pagination .button {
			position: absolute;
		}

	article {
		width: fit-content;
		background: var(--accent);
		transition: background .1s;
		margin-left: 3px;
		position: relative;
	}

		article .article-content {
			margin: 3px;
			display: flex;
			flex-direction: column;
			gap: 9px;
		}

		article section {
			display: flex;
			flex-direction: column;
			gap: 9px;
			padding: 0;
		}

			article section header {
				width: fit-content;
				height: fit-content;
				background: var(--bg0);
				transition: background .1s;
			}

				article section header.pink {
					align-self: end;
				}

				article section header img {
					width: 32px;
					padding: 0 !important;
				}

				.usernames::before {
					content: "@";
				}

				article section header a {
					text-decoration: underline dotted var(--fg0);
					color: var(--fg0);
					line-height: 32px;
					display: flex;
					align-items: center;
					gap: 6px;
					padding: 3px;
				}

			article .trail-item,
			article .tags {
				background: var(--bg0);
				width: 500px;
			}

			article .tags {
				display: block;
			}

			article .trail-item .poll {
				display: flex;
				flex-direction: column;
				gap: 3px;
				text-align: center;
				width: fit-content;
				margin: 3px auto;
				max-width: calc(100% - 12px);
			}

				article .trail-item .poll .button {
					width: calc(100% - 7px); /* Why that extra pikxel??? */
				}

				article .trail-item .poll .question {
					font-size: 1.5em;
					font-weight: bold;
					max-width: 100%;
				}

			article .audio-wrapper {
				display: grid;
				grid-template-columns: 1fr 128px;
				grid-template-rows: 1fr 40px;
				grid-template-areas:
					"meta pic"
					"player pic";
				width: calc(100% - 6px);
				background: var(--accent);
				padding: 0px !important;
				margin: 3px 3px 6px;
				height: 128px;
			}

				article .audio-wrapper .audio-meta {
					display: flex;
					flex-direction: column;
					text-align: center;
					justify-content: center;
					font-size: larger;
					grid-area: meta;
					color: var(--bg0);
				}

				article .audio-wrapper img {
					width: 128px;
					grid-area: pic;
				}

				article .audio-wrapper audio {
					grid-area: player;
					height: 40px;
					width: 100%;
					background: var(--accent);
				}

			article .post-link {
				background: var(--accent);
				display: grid;
				margin: 3px;
				padding: 0 !important;
				text-decoration: underline dotted;
				color: var(--bg0);
				min-height: 1em;
			}

				.post-link .poster {
					position: relative;
				}

					.post-link .poster.has-image {
						height: 250px;
						background-size: contain, cover !important;
					}

				.post-link .description {
					padding: 3px;
				}

				.post-link .link-title {
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: center;
					padding: 0;
					margin: 0;
					font-weight: bold;
				}

			article .ask {
				display: flex;
				flex-direction: column;
				gap: 9px;
				padding: 3px;
			}

				article .ask header span::before {
					content: "@";
				}

				article .ask .reply-header {
					align-self: end;
				}

		article footer {
			width: calc(100% - 6px);
			display: flex;
			margin: 9px 3px 3px;
			justify-content: space-between;
		}

			article footer .info-box {
				height: 22px;
				line-height: 22px;
				background: var(--bg0);
			}

			:where(header, footer, .tags) a {
				text-decoration: underline dotted var(--fg0);
				color: var(--gray);
				transition: background .1s;
			}

				.tags a:hover {
					text-decoration: underline dotted var(--bg0);
					color: var(--bg0);
					background-color: var(--gray);
					border-radius: 2px;
				}

			article footer .note-count:where(:hover, :focus),
			article section header:where(:hover, :focus) {
				background: var(--bg2) !important;
			}

			article footer .interaction-buttons {
				display: flex;
				width: fit-content;
				gap: 3px;
				background: var(--bg0);
			}

	.content-rows {
		--gap: 3px;
		width: 500px;
		display: grid;
		grid-template-columns: repeat(var(--columns), calc((100% - ((var(--columns) - 1) * var(--gap))) / var(--columns)));
		gap: var(--gap);
	}

		.content-rows .row-element {
			width: 100%;
		}

	.text-content p {
		margin: 1rem 0 0;
	}

		section .text-content:first-of-type p {
			margin: 0;
		}

		.text-content .unordered-list-item,
		.text-content .ordered-list-item{
			margin-left: 4ch;
		}

			.text-content .ordered-list-item {
				counter-increment: orderedcounter;
			}

				.text-content .ordered-list-item::marker {
					content: counter(orderedcounter) ". ";
					font-weight: bold;
				}

				.content-rows:not(:has(.ordered-list-item)) + .content-rows:has(.ordered-list-item) {
					counter-reset: orderedcounter;
				}

			.text-content .unordered-list-item::marker {
				content: "- ";
			}

		.text-content .indented,
		blockquote {
			border-left: 4px solid var(--gray);
		}

			blockquote {
				margin-inline: 3px;
				padding-left: 4px;
			}

				blockquote p:has(a.tumblr_blog) {
					margin: 0;
				}

			.text-content .indented {
				padding-left: calc(2ch - 4px);
			}

		.text-content .quote {
			font-family: Georgia;
			font-size: 1.2em;
		}

		.text-content .heading1 {
			font-size: 2em;
			font-weight: bold;
		}

		.text-content .heading2 {
			font-size: 1.7em;
			font-weight: bold;
		}

		.text-content .quirky {
			font-family: Fairwater;
			font-size: 1.2em;
		}

		.text-content .chat {
			display: grid;
			grid-template-columns: auto 1fr;
		}

			.text-content .chat b {
				grid-column: 1;
				text-align: right;
				padding-right: 1ch;
			}

		.text-content a {
			color: var(--blue);
		}

			.text-content a:where(:hover, :focus) {
				color: var(--bg0);
				background: var(--blue);
			}

	article .trail-item :where(img, video,iframe.video){
		max-width: min(500px, 100%) !important;
	}
